[mysqld]
# Disable binary logging (not needed for local/dev)
disable-log-bin

# Skip reverse DNS lookups (prevents IP warning)
skip-name-resolve

# Reduce noisy logging
#log_error_verbosity=1

user=mysql